{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Islamic Calligraphy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-light">

    <div class="container mt-5">
        <h1>About Islamic Calligraphy</h1>

        <p>Islamic calligraphy is the artistic practice of handwriting and calligraphy, in the languages which use Arabic alphabet or the alphabets derived from it. It includes Arabic, Persian, Ottoman, and Urdu calligraphy. It is known in Arabic as khatt Arabi (خط عربي), which translates into Arabic line, design, or construction.</p>
        <p>The development of Islamic calligraphy is strongly tied to the Qur'an; chapters and excerpts from the Qur'an are a common and almost universal text upon which Islamic calligraphy is based. Although artistic depictions of people and animals are not explicitly forbidden by the Qur'an, pictures have traditionally been limited in Islamic books in order to avoid idolatry.
            Although some scholars dispute this, Kufic script was supposedly developed around the end of the 7th century in Kufa, Iraq, from which it takes its name.
            The style later developed into several varieties, including floral, foliated, plaited or interlaced, bordered, and square kufic. In the ancient world, though, artists would often get around the aniconic prohibition by using strands of tiny writing to construct lines and images. Calligraphy was a valued art form, even as a moral good. An ancient Arabic proverb illustrates this point by emphatically stating that "Purity of writing is purity of the soul."</p>
            <img src="{% static 'Calligraphy/Menulis_khat.jpg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>Islamic calligraphy performed by a Malay Muslim in Malaysia.
                Calligrapher is making a rough draft.</p>

        <h2>Instruments and media</h2>
        <p>The traditional instrument of the Islamic calligrapher is the qalam, a pen normally made of dried reed or bamboo. The ink is often in colour and chosen so that its intensity can vary greatly, creating dynamism and movement in the letter forms. Some styles are often written using a metallic-tip pen.</p>
        <p>However, Islamic calligraphy is not limited to strictly religious subjects, objects, or spaces. Like all Islamic art, it encompasses a diverse array of works created in a wide variety of contexts. The prevalence of calligraphy in Islamic art is not directly related to its non-figural tradition; rather, it reflects the centrality of the notion of writing and written text in Islam.
             Islamic calligraphy developed from two major styles: Kufic and Naskh. There are several variations of each, as well as regionally specific styles. Arabic or Persian calligraphy has also been incorporated into modern art, beginning with the post-colonial period in the Middle East, as well as the more recent style of calligraffiti.</p>
        <p>Islamic calligraphy can be applied to a wide range of decorative mediums other than paper, such as tiles, vessels, carpets, and stone. Before the advent of paper, papyrus and parchment were used for writing. During the 9th century, an influx of paper from China revolutionized calligraphy. While monasteries in Europe treasured a few dozen volumes, libraries in the Muslim world regularly contained hundreds and even thousands of books.: 218 
            For centuries, the art of writing has fulfilled a central iconographic function in Islamic art. Although the academic tradition of Islamic calligraphy began in Baghdad, the centre of the Islamic empire during much of its early history, it eventually spread as far as India and Spain.
            Coins were another support for calligraphy.</P>

        <p>Beginning in 692, the Islamic caliphate reformed the coinage of the Near East by replacing Byzantine Christian imagery with Islamic phrases inscribed in Arabic. This was especially true for dinars, or gold coins of high value. Generally, the coins were inscribed with quotes from the Qur'an.

By the tenth century, the Persians, who had converted to Islam, began weaving inscriptions onto elaborately patterned silks. So precious were textiles featuring Arabic text that Crusaders brought them to Europe as prized possessions. A notable example is the Suaire de Saint-Josse, used to wrap the bones of St. Josse in the Abbey of St. Josse-sur-Mer, near Caen in north-western France.: 223–5 

As Islamic calligraphy is highly venerated, most works follow examples set by well-established calligraphers, with the exception of secular or contemporary works. In the Islamic tradition, calligraphers underwent extensive training in three stages, including the study of their teacher's models, in order to be granted certification.</p>
        <p>Source:</p>
        <a href="https://en.wikipedia.org/wiki/Islamic_calligraphy"> Learn more about Islamic Calligraphy</a>
    </div>

</body>

</html>
