{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calligraphy Styles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="text-center container mt-5">
        <h1>Calligraphy Styles</h1>
        <div id="Naskh">
            <h2>Naskh</h2>
            <img src="{% static 'Calligraphy/naskh_style.jpg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>Naskh, which in Arabic means "to copy", is a rounded and flowing form of calligraphy that is mostly used for transcribing the Quran and other Islamic scripts, as well as literary and cultural manuscripts.
            It is easily legible and evidence of its use dates back to the first century after the establishment of Islam.</p>

            <p>The style, which is slightly smaller than other forms of calligraphy, allows the writer to move their pen more swiftly and is therefore practical when producing copies of large texts.

            The script is believed to have been popularised by the Abbasid calligrapher and minister Ibn Muqla al-Shirazi during the ninth century and was derived from the Kufic script.

            Later, Turkish and Arab calligraphers also helped to develop the style.</p>
        </div>

        <div id="Rayhani">
            <h2>Rayhani</h2>
            <img src="{% static 'Calligraphy/reyhan_style.jpg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>The name Rayhani derives from the plant Rayhan, which means "sweet smelling plant" and is often a reference to myrtle or basil.
                This script gets its name from its easily readable, aesthetically pleasing style. It has been used for Quranic text.
                Rayhani is said to originate in the Abassid era. Its invention is credited to Ibn As-Sitri, who had spent his career refining earlier calligraphy scripts.

                A student of law, he had memorised the entire Quran and reportedly produced 64 copies of it by hand.

                Rayhani writing has a pronounced spike on the initial letters of the words, which distinguishes it from other scripts. It has pointier letters than the Naskh style of writing.</p>
        </div>

        <div id="Riqa">
            <h2>Riqa</h2>
            <img src="{% static 'Calligraphy/riqa_style.JPEG' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>Developed in the late 19th century, this style of calligraphy includes elements of Thuluth, but is more rounded and has shorter horizontal lines.

                The word Riqa comes from the Arabic noun Ruqa, meaning a patch or piece of material - a name given to the style because people would use it on small pieces of parchment
                The densely structured style of writing was preferred by Ottoman calligraphers and was further refined by Ottoman designers.

                It is notable for having an almost handwriting-like quality while maintaining the elegance and aesthetic qualities of traditional calligraphy.

                Today, the style is used in modern graphic design, magazines, and advertisements. .</p>
        </div>

        <div id="Muhaqqaq">
            <h2>Muhaqqaq</h2>
            <img src="{% static 'Calligraphy/muhaqqaq_style.jpeg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>The term Muhaqqaq in Arabic means "accomplished" or "clear" and was used to describe any distinguished piece of calligraphy.

                Due to its legibility, the script was a preferred style for transcribing the Quran, and is considered to be one of the most beautiful forms of Arabic writing among calligraphers.
                One of the earliest references to Muhaqqaq writing was found in the Kitab al-Fihrist, a compendium of the knowledge and literature of tenth century Islam, compliled by Idn al-Nadim.

                The book has been used as a reference work for medieval and Islamic literature.</p>
        </div>

        <div id="Thuluth">
            <h2>Thuluth</h2>
            <img src="{% static 'Calligraphy/thuluth_style.jpg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>Arabic for "third", the name Thuluth derives from the fact that this style was a third of the size of other scripts used during the Umayyad period.

                Requiring knowledge of complex proportions to master, Thuluth text is known for its curved letters and its slightly cursive flow.

                This style of typography was rarely used for writing the Quran, and was instead found on manuscripts, tombstones and ceramics.
                Notable examples of Thuluth text include the fabric that covers the Kaaba in the Muslim holy city of Mecca.

                Thuluth calligraphy is frequently used in art to depict the shape of an animals or human figures.

                Due to the spacing of the script and slightly larger typography, it is easier to read in comparison to other styles</p>
        </div>

        <div id="Kufi">
            <h2>Kufic</h2>
            <img src="{% static 'Calligraphy/kufi_style.jpg' %}" class="img-fluid" alt="Islamic Calligraphy" style="width: 35%;">
            <p>Originating in the southern Iraqi town of Al-Kufa, once a centre of Islamic learning, Kufic script is one of the most famous and abundant styles of Arabic calligraphy.

                The script, which developed between the seventh and 10th centuries, can be found engraved on ancient mosques and palaces from Spain to North Africa to Iran, as well as in religious scripture, particularly in early manuscripts of the Quran.

                It also started appearing on tombstones, buildings and coins in later centuries.
                Kufic is known for its short vertical lines and long horizontal strokes, all in bold typography, with the final product often looking "square" in shape.

                The spaced-out style of writing made it relatively easy to read, which was helpful for early converts to Islam wanting to read the Quran. In an era pre-printing press, the task of reproducing the text would have been made easier by the Kufic emphasis on clear, broad, brush strokes.</p>
        </div>

    </div>

</body>

</html>



